In [2]:
import pandas as pd

In [3]:
data = pd.read_excel(r'E:\DIVYANSH\B.Tech\AC_Data.xlsx', parse_dates=[0], index_col=0)

In [4]:
data.index.names=["Date"]

In [5]:
data.head()

,AC 1,AC 2,AC 3,AC 4,AC 5,AC 6,AC 7,AC 8,AC 9,AC 10,AC 11,AC 12,AC 13,AC 14,AC 15,AC 16,AC 17,AC 18
Date,,,,,,,,,,,,,,,,,,
2019-08-01 00:00:00,7.518632,8.788315,0.0,0.0,2.617045,4.079041,2.782276,4.624447,5.222060,2.151238,1.585072,0.560373,3.142941,2.749470,5.417774,4.113460,3.305072,6.735981
2019-08-01 00:01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-08-01 00:02:00,7.426114,8.940615,0.0,0.0,2.581625,3.781231,2.529366,5.057423,5.349465,2.414715,2.168184,1.818730,3.085110,2.720484,3.302422,3.986483,3.220588,6.379500
2019-08-01 00:03:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-08-01 00:04:00,7.052986,9.161103,0.0,0.0,2.592095,3.800127,2.332304,6.322521,3.995392,2.237114,3.345624,2.310409,3.132799,2.676861,3.539026,3.797881,3.131560,6.363475

In [19]:
data.shape

(87840, 18)

In [6]:
data.describe()

,AC 1,AC 2,AC 3,AC 4,AC 5,AC 6,AC 7,AC 8,AC 9,AC 10,AC 11,AC 12,AC 13,AC 14,AC 15,AC 16,AC 17,AC 18
count,43708.000000,43711.000000,43713.000000,43704.000000,43716.000000,43717.000000,43679.000000,43704.000000,43654.000000,43690.000000,43670.000000,43713.000000,43719.000000,43696.000000,43715.000000,43710.000000,43714.000000,43723.000000
mean,2.379368,3.868892,2.568411,2.395158,1.421699,2.518138,2.980883,2.548711,3.184382,1.538344,2.406141,2.699639,4.279893,2.917122,4.046283,2.800050,4.218979,6.462676
std,2.276782,2.545147,1.487508,1.797529,0.767218,1.655560,1.473498,1.504482,1.522291,0.685461,1.554481,1.436087,1.847168,1.454946,2.016898,1.606239,1.125491,2.319242
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,2.123263,1.706508,1.258299,0.970744,1.543779,2.190803,1.766230,2.294635,1.117139,1.591748,1.949729,3.260674,1.852981,3.023501,1.877626,3.752478,4.013579
50%,2.094330,3.791752,2.486992,2.308961,1.380183,2.665063,3.005071,2.608551,3.082134,1.504554,2.351361,2.727152,4.217381,2.787084,4.001279,2.673698,4.611434,7.131194
75%,3.661752,5.460892,3.441527,3.476123,1.870234,3.616988,3.897857,3.496358,4.096374,1.963707,3.254937,3.566744,5.379832,3.824467,5.260193,3.695294,4.958306,8.314639
max,11.194789,11.147141,8.430909,9.879500,5.495358,9.929291,9.356776,9.331506,10.026747,4.625030,10.363151,9.887306,9.796393,9.054969,10.349998,10.654430,5.950261,11.040031

In [13]:
data.sum()

AC 1     103997.423000
AC 2     169113.147946
AC 3     112272.957042
AC 4     104678.005269
AC 5      62151.007653
AC 6     110085.431915
AC 7     130202.009333
AC 8     111388.856216
AC 9     139011.024092
AC 10     67210.227984
AC 11    105076.190097
AC 12    118009.300995
AC 13    187112.630994
AC 14    127466.561772
AC 15    176883.259424
AC 16    122390.195279
AC 17    184428.462396
AC 18    282567.569146
dtype: float64

In [15]:
data_dropping_null=data.dropna()

In [20]:
data_dropping_null.shape

(34642, 18)

In [16]:
data_dropping_null.describe()

,AC 1,AC 2,AC 3,AC 4,AC 5,AC 6,AC 7,AC 8,AC 9,AC 10,AC 11,AC 12,AC 13,AC 14,AC 15,AC 16,AC 17,AC 18
count,34642.000000,34642.000000,34642.000000,34642.000000,34642.000000,34642.000000,34642.000000,34642.000000,34642.000000,34642.000000,34642.000000,34642.000000,34642.000000,34642.000000,34642.000000,34642.000000,34642.000000,34642.000000
mean,2.394089,3.872065,2.504698,2.313283,1.466444,2.709061,2.945136,2.568989,3.149919,1.539393,2.486162,2.815970,4.313004,2.957060,4.124136,2.765703,4.255119,6.453815
std,2.309156,2.360155,1.452713,1.705811,0.748515,1.590249,1.487934,1.531968,1.534838,0.700372,1.588902,1.402622,1.872007,1.505043,2.003805,1.538245,1.078238,2.249975
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,2.272895,1.663072,1.279719,1.008326,1.877316,2.161931,1.766606,2.273552,1.106887,1.640117,2.066214,3.273092,1.855093,3.025756,1.867401,3.773065,4.006869
50%,2.081296,3.738743,2.417197,2.255593,1.408948,2.819162,2.976191,2.622136,3.046702,1.500257,2.409043,2.824786,4.239078,2.794645,4.092966,2.685934,4.624716,7.072846
75%,3.767716,5.334570,3.351791,3.313595,1.903034,3.742868,3.852767,3.538364,4.046424,1.977836,3.362753,3.660599,5.433044,3.892646,5.409613,3.701203,4.977744,8.252815
max,11.194789,11.147141,8.430909,9.849144,5.495358,9.929291,9.356776,9.331506,10.026747,4.625030,10.363151,9.887306,9.796393,9.054969,10.349998,9.789502,5.950261,11.040031

In [17]:
data_dropping_null.sum()

AC 1      82936.044911
AC 2     134136.090605
AC 3      86767.765132
AC 4      80136.762231
AC 5      50800.569898
AC 6      93847.294549
AC 7     102025.387626
AC 8      88994.932128
AC 9     109119.503611
AC 10     53327.657137
AC 11     86125.618895
AC 12     97550.845176
AC 13    149411.074408
AC 14    102438.459866
AC 15    142868.332861
AC 16     95809.474174
AC 17    147405.838816
AC 18    223573.076079
dtype: float64

We can see that data is significantly changed after dropping the null rows. Thus, we can't used data_dropping_null variable.

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 87840 entries, 2019-08-01 00:00:00 to 2019-09-30 23:59:00
Data columns (total 18 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AC 1    43708 non-null  float64
 1   AC 2    43711 non-null  float64
 2   AC 3    43713 non-null  float64
 3   AC 4    43704 non-null  float64
 4   AC 5    43716 non-null  float64
 5   AC 6    43717 non-null  float64
 6   AC 7    43679 non-null  float64
 7   AC 8    43704 non-null  float64
 8   AC 9    43654 non-null  float64
 9   AC 10   43690 non-null  float64
 10  AC 11   43670 non-null  float64
 11  AC 12   43713 non-null  float64
 12  AC 13   43719 non-null  float64
 13  AC 14   43696 non-null  float64
 14  AC 15   43715 non-null  float64
 15  AC 16   43710 non-null  float64
 16  AC 17   43714 non-null  float64
 17  AC 18   43723 non-null  float64
dtypes: float64(18)
memory usage: 12.7 MB

In [24]:
data.corr()

,AC 1,AC 2,AC 3,AC 4,AC 5,AC 6,AC 7,AC 8,AC 9,AC 10,AC 11,AC 12,AC 13,AC 14,AC 15,AC 16,AC 17,AC 18
AC 1,1.000000,0.430097,0.236607,0.328553,0.100152,0.225852,0.031081,0.104567,0.108839,0.189108,0.312637,0.203112,0.262823,0.195175,0.317687,0.253641,-0.086806,-0.037975
AC 2,0.430097,1.000000,0.250247,0.436843,0.109168,0.208857,0.048340,0.075229,0.147773,0.160593,0.186961,0.166592,0.240327,0.131427,0.240375,0.187433,0.024289,-0.044151
AC 3,0.236607,0.250247,1.000000,0.264392,0.062186,0.093411,0.027422,0.113742,0.131613,0.072995,0.145109,0.111281,0.214412,0.127955,0.272147,0.263351,0.026408,0.026462
AC 4,0.328553,0.436843,0.264392,1.000000,0.141945,0.180688,0.086190,0.160474,0.173537,0.165599,0.133118,0.179463,0.223796,0.198743,0.157062,0.131946,-0.013090,-0.071810
AC 5,0.100152,0.109168,0.062186,0.141945,1.000000,0.262816,0.111106,0.118360,0.119612,0.109955,0.134732,0.131720,0.111634,0.212519,0.068721,0.041222,0.033681,-0.029607
AC 6,0.225852,0.208857,0.093411,0.180688,0.262816,1.000000,0.189372,0.201005,0.184327,0.184588,0.267939,0.236351,0.228131,0.315633,0.202825,0.123598,-0.010361,-0.098094
AC 7,0.031081,0.048340,0.027422,0.086190,0.111106,0.189372,1.000000,0.206060,0.180162,0.202509,0.166265,0.213257,0.128848,0.230762,0.121341,0.061152,-0.012165,-0.056803
AC 8,0.104567,0.075229,0.113742,0.160474,0.118360,0.201005,0.206060,1.000000,0.172858,0.203770,0.201385,0.224755,0.144214,0.329811,0.122142,0.113220,-0.099038,-0.116861
AC 9,0.108839,0.147773,0.131613,0.173537,0.119612,0.184327,0.180162,0.172858,1.000000,0.208402,0.170061,0.183574,0.186145,0.269542,0.172904,0.125683,-0.029613,-0.088036
AC 10,0.189108,0.160593,0.072995,0.165599,0.109955,0.184588,0.202509,0.203770,0.208402,1.000000,0.190133,0.186618,0.159514,0.295205,0.235738,0.243506,-0.155561,-0.132667
AC 11,0.312637,0.186961,0.145109,0.133118,0.134732,0.267939,0.166265,0.201385,0.170061,0.190133,1.000000,0.273455,0.207872,0.333404,0.256659,0.221271,-0.135351,-0.150951
AC 12,0.203112,0.166592,0.111281,0.179463,0.131720,0.236351,0.213257,0.224755,0.183574,0.186618,0.273455,1.000000,0.162158,0.264231,0.179348,0.143310,-0.093329,-0.106826
AC 13,0.262823,0.240327,0.214412,0.223796,0.111634,0.228131,0.128848,0.144214,0.186145,0.159514,0.207872,0.162158,1.000000,0.259626,0.190924,0.180067,-0.001706,-0.007292
AC 14,0.195175,0.131427,0.127955,0.198743,0.212519,0.315633,0.230762,0.329811,0.269542,0.295205,0.333404,0.264231,0.259626,1.000000,0.183683,0.179782,-0.201376,-0.212333
AC 15,0.317687,0.240375,0.272147,0.157062,0.068721,0.202825,0.121341,0.122142,0.172904,0.235738,0.256659,0.179348,0.190924,0.183683,1.000000,0.383176,-0.085160,-0.094024
AC 16,0.253641,0.187433,0.263351,0.131946,0.041222,0.123598,0.061152,0.113220,0.125683,0.243506,0.221271,0.143310,0.180067,0.179782,0.383176,1.000000,-0.086188,-0.057407
AC 17,-0.086806,0.024289,0.026408,-0.013090,0.033681,-0.010361,-0.012165,-0.099038,-0.029613,-0.155561,-0.135351,-0.093329,-0.001706,-0.201376,-0.085160,-0.086188,1.000000,0.645693
AC 18,-0.037975,-0.044151,0.026462,-0.071810,-0.029607,-0.098094,-0.056803,-0.116861,-0.088036,-0.132667,-0.150951,-0.106826,-0.007292,-0.212333,-0.094024,-0.057407,0.645693,1.000000

In [31]:
df1a=data.loc["2019-08-01"]

In [33]:
df1a

,AC 1,AC 2,AC 3,AC 4,AC 5,AC 6,AC 7,AC 8,AC 9,AC 10,AC 11,AC 12,AC 13,AC 14,AC 15,AC 16,AC 17,AC 18
Date,,,,,,,,,,,,,,,,,,
2019-08-01 00:00:00,7.518632,8.788315,0.000000,0.000000,2.617045,4.079041,2.782276,4.624447,5.222060,2.151238,1.585072,0.560373,3.142941,2.749470,5.417774,4.113460,3.305072,6.735981
2019-08-01 00:01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-08-01 00:02:00,7.426114,8.940615,0.000000,0.000000,2.581625,3.781231,2.529366,5.057423,5.349465,2.414715,2.168184,1.818730,3.085110,2.720484,3.302422,3.986483,3.220588,6.379500
2019-08-01 00:03:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-08-01 00:04:00,7.052986,9.161103,0.000000,0.000000,2.592095,3.800127,2.332304,6.322521,3.995392,2.237114,3.345624,2.310409,3.132799,2.676861,3.539026,3.797881,3.131560,6.363475
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-08-01 23:55:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-08-01 23:56:00,7.022365,9.361391,3.381782,4.628641,1.284231,3.258580,4.631349,2.911030,2.841657,2.283219,3.286955,2.918221,7.538992,4.613931,7.236555,5.053257,4.779782,8.757299
2019-08-01 23:57:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-08-01 23:58:00,6.862105,9.409969,2.753045,5.166084,1.120495,2.717099,4.304488,3.507168,2.723614,2.241004,3.244093,2.938410,7.577175,4.684103,7.214588,4.747249,4.889344,9.038484
2019-08-01 23:59:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN